*{
	font-family: "Teko";
	font-size: 20px;
}
body {background-color: #009999;
	animation-name: first;
	animation-duration: 15s;
	animation-iteration-count: infinite; /*durchgehend*/
	animation-direction: alternate;
	animation-fill-mode: backwards; /*Startzustand wird wieder hergestellt*/
	}

h1	{color: black;font-size:25px; float: left; font-family: "Teko";}

h2	{color: purple;font-size:14px;font-family: "Teko";}
a       {color:red;}


@keyframes first{
	0% {background-color: #00C3C3;}
	25% {background-color: #00A7A7;}
	50% {background-color: #008A8A;}
	75% {background-color: #00ACAC;}
	100% {background-color: #088A85;}
}

/*Navileiste Buttons, Home und Co*/
.white {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid white;
    overflow: visible;

}

.yellow {
    padding-top: 5px;
    padding-bottom: 75px;
    border: 2px solid white;
    background-color: white;
    overflow: visible;
}

.rechts {
    position:relative;
    margin-left:640px;
    top: -135px;

    
}

li {
    position:relative;
    top: -155px;
    left: -40px;
    list-style-type: none;
  float: left;
  font-family: "Teko";
  font-size: 23px;
  margin-top: 165px;
  margin-left: 6px;
  backround-color: white;
}

li a {
  display: block;
  color: #009999; /*Farbe Buchstaben*/
  background-color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  margin-top: 0px;
  font-family: "Teko";
  font-size: 23px;
  float: left;
}

li a:hover {
   background-color: #48D1CC; /*wenn man über Buttons fährt*/
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  display: block; 
  font-family: "Teko";
  font-size: 23px;
}

table{
    width:100%;
    position:relative;
    top: -120px;
    left: 0px;
    
}

table td, table th{
    padding: 2px 10px;
    border: 1px solid black;
    font-size: 10pt;

    
}

table th {
    background-color: #666;
    color: white;
}

table tr:nth-child(1n) {
    background-color: #ccffcc;
    color: black;
}

table tr:nth-child(2n){
    background-color:#fff5dd;
    color: black;
}

table tr:hover {
    background-color: goldenrod;
    color: white;
}

/*Bild Startseite center position*/
.flex { 
    left: 35%;
    width: 6em;
    position: relative;
    z-index: 10;
}

.box {
    position: absolute;
    top: 23px;
    left: 50px;
    width: 250px;
    transform: translate (-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"]{
    position: relative;
    left: 900px;
    top: -210px;
    background: grey;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

::placeholder {
    color:white;
}

input[type="submit"]{
   position: relative;
   left: 900px;
   top: -210px;
   border-radius: 0 25px 25px 0;
   width: 85px;
   height: 50px;
   border: none;
   outline: none;
   cursor: pointer;
   background: #009999;
   color: white;
}

input[type="submit"]:hover{
    background: #48D1CC;
}


